<h1>How voting works for the House of Representatives</h1>

<p>
    The House of Representatives, also known as the Lower House, is the section of parliament that determines which polical party forms the Government of Australia.
    There are 150 Members of Parliament (MPs) in the House of Representatives, each of which represents the people in their electorate.
</p>
<p>
    Voting for the House of Representatives is done per electorate, using a system of preferential voting.
    In this system, voters must indicate their preferences for all the candidates in their electorate, in numerical order.
</p>
<p>
    An explanation of how this stuff works is here (I hope). TODO: USE PROPER WORDINGNESS.
</p>
<div class="explanation" id="hordop"></div>

<h3>Other resources</h3>
<ul>
    <li><a href="http://www.aec.gov.au/Voting/counting/hor_count.htm">Australian Electoral Commission: “Counting the votes for the House of Representatives”</a></li>
</ul>
