body {
    background-color: #F5F5ED;
    font-family: "PT Sans", "Open Sans", sans-serif;
    line-height: 1.5;
    margin: 0;
}
.top-header {
    background-color: #CF8E23;
    color: white;
    font-size: 1.25rem;
    height: 3rem;
    line-height: 3rem;
}
header a {
    color: inherit;
}
nav, .main {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1rem;
}
.main {
    padding-top: 1em;
}
h1 {
    font-size: 1.25rem;
}
h1 small {
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
    padding-left: 1em;
}

/* TEMP - Main nav */
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
nav li {
    display: block;
    flex: auto 1 0;
    list-style: none;
}
nav a {
    display: block;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color: rgba(0,0,0,0.1);
}
/* END TEMP */


/*** House of Reps: Ballot card ***/

/*
.hor-ballot-border {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}
.hor-ballot-title {
    font-size: 1.5em;
    font-weight: bold;
}
.hor-ballot-header-border {
    stroke: #333;
    stroke-dasharray: 2 3;
}
.hor-vote-box-border {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}
.hor-vote-box-text {
    font-size: 30px;
    font-family: fantasy, cursive;
}
*/

/* Non-SVG card stuff */
figure {
    margin: 0;
    padding: 0;
    position: relative;
}
.hor-ballot {
    box-sizing: border-box;
    max-width: 25rem;
    padding: 1rem 1rem 2rem 1rem;
}
.hor-ballot-border {
    border: 1px solid #333;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.hor-ballot-header {
    align-items: center;
    border-bottom: 1px dashed #333;
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.hor-ballot-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 0 1rem;
}

.hor-candidates {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.hor-candidate {
    font-size: 1.25rem;
    line-height: 1.5;
    position: relative;
}
.hor-candidate + .hor-candidate {
    margin-top: 1.5rem;
}
.hor-candidate-name,
.hor-candidate-party {
    display: block;
    margin-left: 3.5rem;
}
.hor-vote-box {
    border: 2px solid #333;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    font-family: fantasy, cursive;
    height: 2.5rem;
    text-align: center;
    width: 2.5rem;
    float: left;
    margin-top: 0.25rem;
}
